# SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '096a6c555f374b8446c1a8d499528cbe'
API_SECRET = '8AFVkJAfngHOqa2ZEQfXTY3L8EmTeu5K'
